body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

#myH1{
  font-size: 4rem;
  font-family: "Arial", sans-serif;
  color: white;
  background-color: black;
  border-radius: 15px;
}

#container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  border: 5px solid;
  border-radius: 50px;
  background-color: gold;
}

#display{
  font-size: 5rem;
  font-family: monospace;
  font-weight: bold;
  color: black;
  margin-bottom: 25px;
}

#controls button{
  font-size: 1.5rem;
  font-weight: bold;
  padding: 10px 20px;
  margin: 5px;
  min-width: 125px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  transition: background-color 0.5s ease;
}

#startBtn{
  background-color: rgb(69, 224, 69);
}
#startBtn:hover{
  background-color: darkgreen;
}

#stopBtn{
  background-color: red;
}
#stopBtn:hover{
  background-color: darkred;
}

#resetBtn{
  background-color: blue;
}
#resetBtn:hover{
  background-color: darkblue;
}